nav a {
    text-transform: uppercase;
    color: brown;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

nav {
    position: relative;
    margin-top: 20px;
    top: 30px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}