header {
    background-color: rgb(214, 62, 56);
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-transform: uppercase;
    color: rgb(10, 10, 10);
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}
.imagem {
    width: 200px;
}

.servicos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.servicos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 0px;
    box-sizing: border-box;
}

.servicos img {
    width: 50%;
    height: 200px;
}

.servicos h2 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 15px;
}

.descricao {
    font-size: 18px;
}

.preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}